BOT_TOKEN=8758321349:AAFxuBwnkUe4EXjg21ci64PHwEuVZ0dliAA
ADMIN_ID=1341939331
DATABASE_URL=postgresql://user:password@host:5432/dbname
GEMINI_API_KEY=AIzaSyDXu5pu072BvmqrXWuDo8TZE5tLSnB80f8
SBP_PHONE=+79500304935
SBP_BANK=Сбербанк
